<% if user_signed_in? %>
    <h2>Hello <%= current_user.username || current_user.email.remove("@gmail.com") %></h2>
<% end %>

<br>

<div id="games">
</div>
<br>


<button type="button" class="nes-btn is-primary" id="see_more_games_button">See Games</button>

<% if @games.any? %>
    <p><%= button_to 'See top rated reviews!', reviews_descending_order_path, method: :get, :class => "nes-btn is-primary" %></p>
<% end %>

<p><%= button_to 'Create New Game', new_game_path, method: :get, :class => "nes-btn is-primary" %></p>