#show_game_title_and_description {
    display: inline;
    color: lightgray;
    background-color: red;
    box-shadow: 0 5px 0 darkred;
    padding: .125em .125em;
    position: relative;
    text-decoration: none;
}

#links_to_games {
    background-color: red;
    box-shadow: 0 5px 0 darkred;
    color: lightgray;
    padding: 1em 1.5em;
    position: relative;
    width: 160px;
    text-decoration: none;
    text-transform: uppercase;
}

#links_to_games:hover {
    background-color: #ce0606;
    cursor: pointer;
}
  
#links_to_games:active {
    box-shadow: none;
    top: 5px;
}