<h3>Hi <%= @user.username %>! Here are all of your reviews!</h3>

<% @reviews.each do |review| %>
   <p><%= link_to review.game.name, game_review_path(review.game, review) %><p>
<% end %>

<p><%= link_to 'Create new Review', new_review_path, method: :get %></p>